body {
    margin: 0;
    padding: 0;
    background-color: #1e3d58;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
    gap: 20px;
}

.login-image {
    width: 40%;
}

.login-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.login-form label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3a8e3f;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #2b6a2d;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}